*,
*::after,
*::before{
  box-sizing: border-box;
}

html{
  /* overflow-y: overlay; */
}
body{
    /* -ms-overflow-style: none;
      scrollbar-width: none;
    
      &::-webkit-scrollbar {
        display: none;
      } */
}

:root{
  --text-color: #1D1F22;
  --button-color: #5ECE7B;
}

ul{
  list-style:none;
  padding:0;
  margin:0;
}

a{
  text-decoration: none;;
}

h1,
h2,
h3,
h4,
h5, 
h6,
p,
a {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6;
}

img{
  max-width: 100%;
  display: block;
  height: auto;
}

.active{
  border-bottom:1px solid #5ECE7B;
}

 .active > NavItem {
   color: #5ECE7B;
 }

 .suspense{
  font-size:24px;
  font-weight:700;
  text-align: center;
 }